* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Parisienne";
    src: url('./assets/fonts/Parisienne-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner, .banner-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.banner-text {
    font-family: "Parisienne";
    font-size: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}

.line {
    margin-top: 50px;
    margin-left: 50px;
    height: 1px;
    width: 400px;
    background-color: black;
    opacity: 0.9;
}

header {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 100px;
}

.header-text {
    margin-left: 100px;
    height: 480px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Montserrat";
    font-size: 20px;
}

.header-text p {
    margin-bottom: 20px;
}

.banner-2 {
    margin-top: 100px;
}

